.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois{
    object-fit: cover;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color:rgb(119, 1, 1)!important;
}

.card{
    max-width: 18rem;
}

.botao-cor-especial{
    background-color:rgb(119, 1, 1);
    color: white;
}

.borda-cor-especial{
    border-color:rgb(119, 1, 1);
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

